@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

body {
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
    font-family: 'Lato', sans-serif;
}

header {
    background-image: url(../images/head.jpg);
    background-color: #66666666;
    background-size: cover;
    background-position: center 60%;
    height: 270px;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #424242;
    font-size: 45pt;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

nav {
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

nav a {
    text-decoration: none;
    font-size: 20pt;
    color: #424242;
    transition: all 0.3s ease;
}

nav a:first-child {
    margin-right: 70px;
}

nav a:last-child {
    margin-left: 70px;
}

nav a:hover {
    color: #666666;
    border-bottom: 3px solid #666666;
    opacity: 0.8;
}

nav a.active {
    color: #4caf50;
    border-bottom: 3px solid #4caf50;
    cursor: default;
}

nav a.active {
    opacity: 1;
}

body#index {
    margin: 0;
    padding: 0;
    background-image: url(../images/head.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    background-color: #66666666;
}

section#index-content {
    margin-top: 7%;
    margin-left: 18%;
    margin-right: 18%;
    background-color: RGBA(255, 255, 255, 0.8);
    padding: 20px 20px;
    padding-bottom: 0px;
}

section#index-content h1 {
    margin-top: 20px;
    color: #424242;
    font-size: 60pt;
    font-family: 'Roboto', sans-serif;
}

section#index-content section#content {
    text-align: center;
}

section#content {
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 50px;
    border-top: 2px solid #666666;
}

section#content h2 {
    font-size: 20pt;
    color: #424242;
}

section#content p {
    font-size: 15pt;
}

section#content a {
    text-decoration: none;
    color: dodgerblue;
}

section#content a:hover {
    text-decoration: underline;
}

section.track {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #666666;
}

#scenic-img {
    display: inline-block;
    width: 49.5%;
    background-image: url(../images/head.jpg);
    background-size: cover;
    background-position: center center;
    height: 480px;
    margin: 0;
    padding: 0;
}

#dashing-img {
    display: inline-block;
    width: 49.5%;
    background-image: url(../images/dashing-rocks.jpg);
    background-size: cover;
    background-position: center center;
    height: 400px;
    margin: 0;
    padding: 0;
}

#cbay-img {
    display: inline-block;
    width: 49.5%;
    background-image: url(../images/boardwalk.jpg);
    background-size: cover;
    background-position: center center;
    height: 370px;
    margin: 0;
    padding: 0;
}

#saltwater-img {
    display: inline-block;
    width: 49.5%;
    background-image: url(../images/saltwater-creek.JPG);
    background-size: cover;
    background-position: center center;
    height: 370px;
    margin: 0;
    padding: 0;
}

a.icon-example:hover {
    text-decoration: none;
}

a.icon-example img {
    width: 40px;
    height: 40px;
}

section.track iframe {
    width: 49.5%;
    position: relative;
    padding-top: 5px;
    border: 0;
    background-color: ghostwhite;
}

section.track h2 {
    margin-bottom: 0;
    padding-bottom: 5px;
}

.hoveralert {
    position: relative;
    display: inline-block;
}

.hoveralert img {
    width: 40px;
    height: 40px;
}

.hoveralert .hoveralerttext {
    display: none;
    z-index: 999;
    width: 120px;
    background-color: #231F20;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    top: 100%;
    right: -125%;
}

.hoveralert:hover .hoveralerttext {
    display: block;
    cursor: grab;
}

section.gallery {
    margin: 0.5%;
    border: 1px solid lightgray;
    float: left;
    width: 32%;
    margin-bottom: 40px;
    transition: all 0.3s ease;
}

section.gallery:hover {
    border: 1px solid gray;
}

section.gallery a img {
    width: 100%;
    height: auto;
}

section.desc {
    padding: 1.5%;
    text-align: center;
}

section.desc h2, p {
    margin: 5px;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 0;
    width: 100%;
    background-color: RGBA(0, 0, 0, 0.8);
}

footer p {
    color: white;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    font-size: 13pt;
}

footer a {
    color: dodgerblue;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}