body {
    font-family: sans-serif;
    color: black;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 70px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    border-left: 1px solid RGBA(0, 0, 0, 0.8);
    border-right: 1px solid RGBA(0, 0, 0, 0.8);
}

h1 { 
    font-size: 50px;
    padding: 0;
    margin: 0;
}

h2 { 
    font-size: 30px;
    padding: 0;
    margin: 0;
}

p {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

img {
    margin: 10px;
}

.region {
    padding: 10px
}

figcaption {
    display: block;
    text-align: center;
    font-size: 10px;
}

.top-button {
    text-align: center;
    background: orangered;
    color: white;
    position: fixed;
    margin: 9px;
    padding: 5px;
    right: 0;
    bottom: 0;
    float: none;
}

.top-button:hover {
    background: RGBA(0, 0, 0, 0.8);
}

#top {
    top: -100px;
    position: relative;
}

#top-button {
    display: none;
}